extends ../layout/index

block contenido 
    .py-10
        h1.text-center.text-4xl.font-extrabold.my-8 Bienes 
            span.font-normal Raíces
        h2.text-center.text-2xl.font-extrabold= pagina

        p.text-xl.font-bold.text-center.my-10= mensaje